<div class="btn-group history-actions-top" role="group">
    <button type="button" class="btn btn-default">Добавить операцию</button>
    <button type="button" class="btn btn-default">Показать больше операций</button>
</div>

<div class="table">
    <div class="row header">
        <div class="col-md-2">Дата</div>
        <div class="col-md-2">Сумма</div>
        <div class="col-md-2">Категория</div>
        <div class="col-md-4">Комментарий</div>
        <div class="col-md-2 text-right">Действия</div>
    </div>
    <div class="row">
        <div class="col-md-2">30.07.2015<div class="footnote">Четверг</div></div>
        <div class="col-md-2">
            <div class="income">5'600'000 Br</div>
            <div class="footnote">Наличные</div>
        </div>
        <div class="col-md-2">
            <img src="assets/image/home.gif">
            <span class="description">Питание</span>
            <div class="footnote">Продукты питания</div>
        </div>
        <div class="col-md-4 description">Детское питание с очень длинным названием</div>
        <div class="col-md-2 text-center">
            <a href="#test">
                <span class="glyphicon glyphicon-pencil" aria-label="test"></span>
            </a>
            <a href="#test">
                <span class="glyphicon glyphicon-remove" aria-label="test"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="expenditure">5'600'000 Br</div>
            <div class="footnote">Наличные</div>
        </div>
        <div class="col-md-2">
            <img src="assets/image/home.gif">
            <span class="description">Питание</span>
            <div class="footnote">Продукты питания</div>
        </div>
        <div class="col-md-4 description">Детское питсание</div>
        <div class="col-md-2 text-center">
            <a href="#test" >
                <span class="glyphicon glyphicon-pencil" aria-label="test"></span>
            </a>
            <a href="#test" >
                <span class="glyphicon glyphicon-remove" aria-label="test"></span>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2">30.07.2015<div class="footnote">Четверг</div></div>
        <div class="col-md-2">
            <div class="expenditure">5'600'000 Br</div>
            <div class="footnote">Наличные</div>
        </div>
        <div class="col-md-2">
            <img src="assets/image/home.gif">
            <span class="description">Питание</span>
            <div class="footnote">Продукты питания</div>
        </div>
        <div class="col-md-4 description">Детское питсание</div>
        <div class="col-md-2 text-center">
            <a href="#test" >
                <span class="glyphicon glyphicon-pencil" aria-label="test"></span>
            </a>
            <a href="#test" >
                <span class="glyphicon glyphicon-remove" aria-label="test"></span>
            </a>
        </div>
    </div>
</div>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Добавить операцию</button>
    <button type="button" class="btn btn-default">Показать больше операций</button>
</div>