.divider-vertical {
    height: 50px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

.accordion-toggle {
    display:block;
}

a:hover.accordion-toggle, a:focus.accordion-toggle {
    text-decoration: none;
    outline: 0;
}

accordion .panel-group {
     margin-bottom: 0;
}

.panel-primary>.panel-footer {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.account-summary>div, .account-details>div {
    padding-right: 0;
    padding-left: 0;
}

.account-summary>div {
    font-size: 14px;
}

.account-details>div {
    font-size: 12px;
}

.currency-summary>div, .currency-details>div, .money-summary>div {
    padding-right: 0;
    padding-left: 5px;
}

.account-details>div>hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.money-summary, .currency-details {
    line-height: 15px;
}

.header {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-weight: bolder;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table hr {
    margin-bottom: 0;
    margin-top: 0;
}

.footnote {
    color: #999;
    font-size: 11px;
    font-style: normal;
}

.table .row {
    margin-bottom: 1px;
}

.income {
    color: #009900;
}

.expenditure {
    color: #cc0000;
}

.description {
    font-size: 12px;
}

.history-actions-top {
    padding-bottom: 13px;
}